{
  "presets": [
    ["@babel/env",{
        "useBuiltIns": "usage",
        // "targets": {
        //   "browsers": "last 2 versions, > 1%, safari tp",
        //   // "esmodules": true,
        //   "chrome": "58",
        //   "opera": "25",
        //   "firefox": "28",
        //   "safari": "8",
        //   "ios": "9",
        //   "android": "5.0",
        //   "ie": "9",
        //   "node": "current"
        // },
        "corejs": 3,
        "targets": "> 0.5%, not dead"
      },
    ]
  ],
  "comments": false,
  // "plugins": ["transform-runtime", "syntax-dynamic-import"],
  // "env": {
  //   "test": {
  //     "presets": ["env"],
  //     "plugins": ["dynamic-import-node"]
  //   }
  // }
}